<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.lenovo.lps.push.marketing.monitor.entity.Feedback" alias="feedback" />
		<typeAlias type="com.lenovo.lps.push.marketing.monitor.entity.HitPvUv" alias="hitPvUv" />
	</typeAliases>

<plugins>  
	<!--    -->
       <plugin interceptor="com.lenovo.lps.push.marketing.monitor.interceptor.PageInterceptor">  
       </plugin>
  
     
       <!-- 
       <plugin interceptor="com.lenovo.lps.push.marketing.monitor.interceptor.MybatisJsonInterceptor">  
       </plugin>
        -->  
    </plugins> 
    	
</configuration>